// Changing all the template(theme) colors
// from https://www.canva.com/colors/color-palettes/pastel-blonde/
$primary: #f4b9b8;
$secondary: #887bb0;
$success: #85d2d0;
$info: #99d6ff;
$warning: #ffff4d;
$danger: #ff0000;
$light: #e6e6e6;
$dark: #333333;
